.mainScreen {
    margin: auto;
    max-width: 800px;
    background-color: #fff;
    margin-top: 1em;
    border: 1px black solid;
}

.stageSelector {
    border-bottom: 1px black solid;
}

.stageSelector > div {
    min-height: 10px;
    text-align: center;
}

.stageInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: #111;
}

.appStage {
    min-height: 500px;
}