.imageSelector {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height:100%;
    margin: 0
}

.imageSelector li {
    height:100%;
    width: 150px;
    flex: 0 0 auto;
    margin: 0;
}

.selectedImage {
    border: 2px #afa dashed;
}

